In [1]:
import sys
sys.path.append('../')
from util import fill_window
from Attacked_Model.autoencoder_BATADAL import load_AEED
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score, roc_curve, auc, precision_score, recall_score
import pickle
from sklearn.preprocessing import MinMaxScaler
import numpy as np
#select wich dataset are you considering
#we are not allowed to publish WADI data, please request them itrust Singapore website
dataset = 'WADI' #'WADI'
data_folder = '../Data/'+dataset
att_data = pd.read_csv(data_folder+'/attack_1_from_test_dataset.csv')
xset = [col for col in att_data.columns if col not in [
        'Row', 'DATETIME','ATT_FLAG', '2_MV_001_STATUS', '2_LT_001_PV', '2_MV_002_STATUS']]

yset = ['ATT_FLAG']
autoencoder = load_AEED("../Attacked_Model/"+dataset+"/autoencoder.json", "../Attacked_Model/"+dataset+"/autoencoder.h5")
scaler = pickle.load(open("../Attacked_Model/"+dataset+"/scaler.p", "rb"))
with open("../Attacked_Model/"+dataset+"/theta") as f:
        theta = float(f.read())
import warnings
warnings.filterwarnings('ignore')

Using TensorFlow backend.

../Attacked_Model/WADI/autoencoder.h5
WARNING:tensorflow:From /home/alessando/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/alessando/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

/home/alessando/anaconda3/lib/python3.7/site-packages/sklearn/base.py:253: UserWarning: Trying to unpickle estimator MinMaxScaler from version 0.19.1 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [2]:
def compute_scores(Y, Yhat):
    Y = Y.drop(Y.index[0:60])
    Yhat = Yhat.drop(Yhat.index[0:60])
    return [accuracy_score(Y, Yhat), f1_score(Y, Yhat), precision_score(Y, Yhat), recall_score(Y, Yhat)]#, fpr[0]]

In [3]:
results_mean_replay = {new_list: 0 for new_list in ['PLC_1', 'PLC_2']}
results_mean_white = {new_list: 0 for new_list in ['PLC_1', 'PLC_2']}
results_mean_black = {new_list: 0 for new_list in ['PLC_1', 'PLC_2']}
sum_orig = 0
all_results_replay = pd.DataFrame(
                           columns= ['PLC_1','PLC_2'])
all_results_white = pd.DataFrame(
                           columns= ['PLC_1','PLC_2'])
all_results_black = pd.DataFrame(
                           columns= ['PLC_1','PLC_2'])
original_data = pd.read_csv('../Data/'+dataset+'/attacks_october_clean_with_label.csv', parse_dates = ['DATETIME'], dayfirst=True)
original_data = original_data.set_index('DATETIME')
results_orig = pd.DataFrame(
                           columns=['accuracy', 'f1_score', 'precision', 'recall'])#,'fpr'])
for i in [1,2,3,5,6,7,8,9,10,11,12,13,14,15]:
    df_test_01 = pd.read_csv('../Data/'+dataset+'/attack_'+str(i)+'_from_test_dataset.csv', parse_dates = ['DATETIME'], dayfirst=True)
    df_test_01 = fill_window(original_data, df_test_01, i, 60)
    X3 = pd.DataFrame(index=df_test_01.index, columns=xset,
                      data=scaler.transform(df_test_01[xset])) 
    Y3 = df_test_01[yset]
    Yhat3, _, _, _ = autoencoder.detect(X3, theta=theta, window=60, average=True)
    results_orig.loc[i] = compute_scores(Y3, Yhat3)
    sum_orig = sum_orig + results_orig.loc[i].at['recall']
    results_replay = {}
    results_white = {}
    results_black = {}
    for PLC in ['PLC_1', 'PLC_2']:
            
            #if not(PLC == 82):
            replay = pd.read_csv('../Adversarial_Attacks/Replay_Attack/results/WADI/constrained_PLC/constrained_'+PLC+'_attack_'+str(i)+
                                        '.csv', dayfirst=True)
            white_box = pd.read_csv('../Adversarial_Attacks/Whitebox_Attack/results/'+dataset+'/max_constraints_fixed/whitebox_attack_'+str(i)+
                                        '_from_test_dataset'+PLC+'.csv', dayfirst=True)
            black_box = pd.read_csv('../Adversarial_Attacks/Black_Box_Attack/results/'+dataset+'/AE_PLC_constraint/new_advAE_attack_'+str(i)+
                                    '_from_test_dataset_'+PLC+'.csv', dayfirst=True)
            #else:
            #    white_box = pd.read_csv('../Adversarial_Attacks/Whitebox_Attack/results/'+dataset+'/unconstrained_attack/new_improved_whitebox_attack_'+str(i)+'_from_test_dataset.csv', dayfirst=True)
            #    black_box = pd.read_csv('../Adversarial_Attacks/Black_Box_Attack/results/'+dataset+'/unconstrained_attack/new_advAE_attack_'+str(i)+'_from_test_dataset.csv', dayfirst=True)
                          
            
            replay = fill_window(original_data, replay, i, 60)
            white_box = fill_window(original_data, white_box, i, 60)
            black_box = fill_window(original_data, black_box, i, 60)
            
            replay = pd.DataFrame(index=replay.index, columns=xset,
                      data=scaler.transform(replay[xset]))
            white_box = pd.DataFrame(index=white_box.index, columns=xset,
                      data=scaler.transform(white_box[xset]))
            black_box = pd.DataFrame(index=black_box.index, columns=xset,
                      data=scaler.transform(black_box[xset]))

            Y4 = Y3#[1]*len(replay)
            Y5 = Y3#[1]*len(white_box)
            Y6 = Y3#[1]*len(black_box)
            
            Yhat4, _, _, _ = autoencoder.detect(replay, theta=theta, window=60, average=True)
            Yhat5, _, _, _ = autoencoder.detect(white_box, theta=theta, window=60, average=True)
            Yhat6, _, _, _ = autoencoder.detect(black_box, theta=theta, window=60, average=True)
            
            results = pd.DataFrame(
                           columns=['accuracy', 'f1_score', 'precision', 'recall'])#,'fpr'])
            results.loc['original'] = compute_scores(Y3, Yhat3)
            results.loc['replay'] = compute_scores(Y4, Yhat4)
            results.loc['white'] = compute_scores(Y5, Yhat5)
            results.loc['black'] = compute_scores(Y6, Yhat6)
            
            
            #print(i, PLC)
            #print(results)
            
            results_replay[PLC] = results.loc['replay'].at['recall']
            results_white[PLC] = results.loc['white'].at['recall']
            results_black[PLC] = results.loc['black'].at['recall']  
            
            results_mean_replay[PLC] = results_mean_replay[PLC] + results_replay[PLC]
            results_mean_white[PLC] = results_mean_white[PLC] + results_white[PLC]
            results_mean_black[PLC] = results_mean_black[PLC] + results_black[PLC]
            
    all_results_replay.loc[i] =  results_replay  
    all_results_white.loc[i] =  results_white
    all_results_black.loc[i] =  results_black

In [4]:
results_orig

    accuracy  f1_score  precision    recall
1   0.000000  0.000000        0.0  0.000000
2   0.942568  0.970435        1.0  0.942568
3   0.555683  0.714391        1.0  0.555683
5   1.000000  1.000000        1.0  1.000000
6   0.000000  0.000000        0.0  0.000000
7   0.595658  0.746599        1.0  0.595658
8   0.934708  0.966252        1.0  0.934708
9   1.000000  1.000000        1.0  1.000000
10  0.590347  0.742412        1.0  0.590347
11  1.000000  1.000000        1.0  1.000000
12  1.000000  1.000000        1.0  1.000000
13  0.857843  0.923483        1.0  0.857843
14  0.977509  0.988626        1.0  0.977509
15  0.000000  0.000000        0.0  0.000000

In [5]:
all_results_replay.join(results_orig['recall'])

       PLC_1     PLC_2    recall
1   0.486825  0.492095  0.000000
2   0.469595  0.940878  0.942568
3   0.487371  0.675660  0.555683
5   1.000000  1.000000  1.000000
6   0.772321  0.793155  0.000000
7   0.515604  0.991859  0.595658
8   0.934708  0.274914  0.934708
9   1.000000  1.000000  1.000000
10  0.752475  0.868812  0.590347
11  1.000000  0.660856  1.000000
12  1.000000  0.574586  1.000000
13  0.931373  0.480392  0.857843
14  0.783737  0.980969  0.977509
15  0.702532  0.661392  0.000000

In [6]:
round(all_results_replay.min(axis=1).mean(),2)

0.64

In [7]:
all_results_white.join(results_orig['recall'])

       PLC_1     PLC_2    recall
1   0.000000  0.000000  0.000000
2   0.000000  0.937500  0.942568
3   0.284156  0.555683  0.555683
5   1.000000  0.069249  1.000000
6   0.000000  0.000000  0.000000
7   0.000000  0.592944  0.595658
8   0.934708  0.000000  0.934708
9   1.000000  1.000000  1.000000
10  0.000000  0.050743  0.590347
11  1.000000  0.095087  1.000000
12  1.000000  0.165746  1.000000
13  0.852941  0.000000  0.857843
14  0.000000  0.975779  0.977509
15  0.000000  0.000000  0.000000

In [8]:
round(all_results_white.min(axis=1).mean(), 2)

0.12

In [9]:
all_results_black.join(results_orig['recall'])

       PLC_1     PLC_2    recall
1   0.000000  0.000000  0.000000
2   0.000000  0.940878  0.942568
3   0.288749  0.555109  0.555683
5   1.000000  1.000000  1.000000
6   0.000000  0.000000  0.000000
7   0.000000  0.595658  0.595658
8   0.934708  0.719931  0.934708
9   1.000000  1.000000  1.000000
10  0.000000  0.581683  0.590347
11  1.000000  1.000000  1.000000
12  1.000000  1.000000  1.000000
13  0.857843  0.000000  0.857843
14  0.000000  0.977509  0.977509
15  0.000000  0.000000  0.000000

In [10]:
round(all_results_black.min(axis=1).mean(), 2)

0.36

In [13]:
results_attack = pd.DataFrame(columns=['PLC_1','PLC_2'])
for j in ['PLC_1','PLC_2']:
    results_attack.loc['replay', j] = round(results_mean_replay[j]/14, 2)
    results_attack.loc['white', j] = round(results_mean_white[j]/14, 2)
    results_attack.loc['black', j] = round(results_mean_black[j]/14, 2)

In [14]:
print("Original Recall: "+str(round(sum_orig/14,2)))
print("Recall After Constrained Variables Adversarial Attack")
results_attack

Original Recall: 0.68
Recall After Constrained Variables Adversarial Attack

       PLC_1 PLC_2
replay  0.77  0.74
white   0.43  0.32
black   0.43   0.6